<!-- Mic Button -->
<button
  class="mic-button btn btn-lg shadow-lg btn-danger rounded-circle"
  title="Start Voice Input"
  aria-label="Start voice input"
  data-bs-toggle="modal"
  data-bs-target="#speechModal"
>
  <i class="fas fa-microphone" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="speechModal"
  tabindex="-1"
  aria-labelledby="speechModalLabel"
  aria-hidden="true"
  role="dialog"
>
  <div class="modal-dialog">
    <form method="POST" class="modal-content" id="speechModalForm">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="speechModalLabel">New note</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="content" class="form-label">Note Content</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            rows="5"
            required
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          id="nn-current-button"
          data-runid="<%= runId %>"
        >
          Create Note
        </button>
      </div>
    </form>
  </div>
  <button
    type="submit"
    form="speechModalForm"
    id="speechMicButton"
    class="mic-button btn btn-lg shadow-lg btn-danger rounded-circle"
    title="Stop Voice Input and Submit"
    aria-label="Stop voice input and submit"
    data-runid="<%= runId %>"
  >
    <i class="fas fa-microphone" aria-hidden="true"></i>
  </button>
</div>
