<div
  class="modal fade"
  tabindex="-1"
  id="editRunModal"
  role="dialog"
  aria-labelledby="deleteRunModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <form
      class="modal-content"
      id="editRunForm"
      action="/runs/<%= run._id%>"
      method="POST"
    >
      <div class="modal-header">
        <h5 class="modal-title" id="editRunModalLabel">Add / Update Title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="editRunTitle" class="form-label visually-hidden"
          >Run Title</label
        >
        <input
          type="text"
          class="form-control"
          id="editRunTitle"
          value="<%= title %>"
          required
          name="title"
        />
      </div>
      <div class="modal-footer">
        <input type="hidden" name="_method" value="PUT" />
        <button type="submit" class="btn btn-primary">Update title</button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
